<script type="text/template" id="main-tpl">
<div class="dialog-container" style="padding: 5px"><%- i18n.t('loading') %></div>
</script>
<script type="text/template" id="dialog-tpl">
<table width="100%" height="100%" cellpadding="5">
    <tr>
        <td><strong><%- i18n.t('exam.subject') %>:</strong></td>
        <td>
            <%- exam.subject %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.code') %>:</strong></td>
        <td>
            <%- exam.examCode || 'нет' %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.dates') %>:</strong></td>
        <td>
            с <%= moment(exam.leftDate).format('DD.MM.YYYY') %> по <%= moment(exam.rightDate).format('DD.MM.YYYY') %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.duration') %>:</strong></td>
        <td>
            <% if(exam.duration) { %>
                <%- exam.duration + ' мин.' %>
            <% } else { %>
                неизвестно
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.begin') %>:</strong></td>
        <td>
            <% if(exam.beginDate) { %>
                <%= moment(exam.beginDate).format('DD.MM.YYYY HH:mm') %>
                <% if(exam.startDate) { %>
                    (<%- moment(exam.startDate).format('HH:mm') %>)
                <% } %>
            <% } else { %>
                не запланировано
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.end') %>:</strong></td>
        <td>
            <% if(exam.endDate) { %>
                <%= moment(exam.endDate).format('DD.MM.YYYY HH:mm') %>
                <% if(exam.stopDate != null) { %>
                    (<%- moment(exam.stopDate).format('HH:mm') %>)
                <% } %>
            <% } else { %>
                <%- i18n.t('exam.noplan') %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.student') %>:</strong></td>
        <td>
            <% if(exam.student) { %>
                <%- exam.student.lastname %> <%- exam.student.firstname %> <%- exam.student.middlename %> (<%- exam.student.birthday || "-" %>)
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.inspector') %>:</strong></td>
        <td>
            <% if(exam.inspector) { %>
                <%- exam.inspector.lastname %> <%- exam.inspector.firstname %> <%- exam.inspector.middlename %>
            <% } else { %>
                <%- i18n.t('exam.noset') %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.resolution') %>:</strong></td>
        <td>
            <% if(exam.resolution === true) { %> <span style="color: green"><%- i18n.t('examStatus.4') %></span> <% } %>
            <% if(exam.resolution === false) { %> <span style="color: red"><%- i18n.t('examStatus.5') %></span> <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.comment') %>:</strong></td>
        <td><%- exam.comment %></td>
    </tr>
</table>
</script>
