<script type="text/template" id="main-tpl">
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" style="margin-bottom:1px;">
        <div class="easyui-panel" style="padding:5px;height:28px;" data-options="fit:true">
            <span class="text-item"><i class="fa fa-calendar"></i><%- i18n.t('inspector.title') %></span>
            <span class="easyui-menubutton" data-options="menu:'#main-menu',iconCls:'fa fa-bars'" style="float:right"></span>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table class="easyui-datagrid" data-options="view:bufferview,toolbar:'#toolbar',pageSize:100,singleSelect:true,border:false,fitColumns:true,fit:true">
        </table>
        <div id="toolbar">
            <a href="javascript:void(0);" class="easyui-linkbutton status-btn1" data-options="plain:true,toggle:true,group:'g1',selected:true"><%- i18n.t('inspector.my') %></a> |
            <a href="javascript:void(0);" class="easyui-linkbutton status-btn2" data-options="plain:true,toggle:true,group:'g1'"><%- i18n.t('inspector.any') %></a>
            <input name="date-search" class="easyui-datebox date-search" style="width:110px;" data-options="prompt:'<%- i18n.t('inspector.searchDatePrompt') %>'">
            <input name="text-search" class="easyui-searchbox text-search" style="width:300px;" data-options="prompt:'<%- i18n.t('inspector.searchTextPrompt') %>'">
            <button class="easyui-linkbutton grid-reload" data-options="iconCls:'pagination-load',plain:true"></button>
        </div>
    </div>
    <div data-options="region:'south',border:false">
        <div class="easyui-panel" style="padding:5px;height:28px;" data-options="fit:true">
            <span class="easyui-tooltip text-item" title="<%- i18n.t('inspector.time') %>"><i class="fa fa-clock-o"></i><span class="panel-widget server-time">00:00:00</span></span>
            <span class="text-item" style="float:right"><i class="fa fa-user"></i><span class="loguser-widget">...</span></span>
        </div>
    </div>
</div>
<div id="main-menu" style="width:150px;">
    <div name="schedule" data-options="iconCls:'fa fa-bell-o'"><%- i18n.t('inspector.schedule') %></div>
    <div class="menu-sep"></div>
    <div name="profile" data-options="iconCls:'fa fa-user'"><%- i18n.t('inspector.profile') %></div>
    <div name="settings" data-options="iconCls:'fa fa-wrench'"><%- i18n.t('inspector.settings') %></div>
    <div name="demo" data-options="iconCls:'fa fa-exchange'"><%- i18n.t('inspector.demo') %></div>
    <div class="menu-sep"></div>
    <div name="logout" data-options="iconCls:'fa fa-sign-out'"><%- i18n.t('inspector.logout') %></div>
</div>
</script>
<script type="text/template" id="action-item-tpl">
<a href="javascript:void(0);" class="start-btn" data-id="<%- examId %>" title="<%- i18n.t('inspector.start') %>"><i class="fa fa-play-circle fa-lg"></i></a>
</script>
<script type="text/template" id="student-item-tpl">
<a href="javascript:void(0);" class="student-btn" data-id="<%- userId %>" title="<%- i18n.t('inspector.studentProfile') %>"><%- lastname || i18n.t('inspector.unknown') %> <%- firstname %> <%- middlename %></a>
</script>
<script type="text/template" id="inspector-item-tpl">
<a href="javascript:void(0);" class="inspector-btn" data-id="<%- userId %>" title="<%- i18n.t('inspector.inspectorProfile') %>"><%- lastname || i18n.t('inspector.unknown') %> <%- firstname %> <%- middlename %></a>
</script>
<script type="text/template" id="subject-item-tpl">
<a href="javascript:void(0);" class="exam-btn" data-id="<%- examId %>" title="<%- i18n.t('inspector.examInfo') %>"><%- subject %></a>
</script>