<script type="text/template" id="main-tpl">
  <div class="easyui-layout" data-options="fit:true">
      <div data-options="region:'north',border:false" style="margin-bottom:1px;">
          <div class="easyui-panel" style="padding:5px;overflow:hidden;" data-options="fit:true">
              <span class="text-item"><i class="fa fa-calendar"></i><%- i18n.t('monitor.title') %></span>
              <span class="easyui-menubutton" data-options="menu:'#main-menu',iconCls:'fa fa-bars'" style="float:right"></span>
          </div>
      </div>
      <div data-options="region:'center',border:false">
          <table class="easyui-datagrid" data-options="toolbar:'#toolbar',singleSelect:true,border:false,fitColumns:true,fit:true,pagination:true">
          </table>
          <div id="toolbar">
              <a href="javascript:void(0);" class="easyui-linkbutton status-btn1" data-options="plain:true,toggle:true,group:'g1',selected:true"><%- i18n.t('monitor.my') %></a> |
              <a href="javascript:void(0);" class="easyui-linkbutton status-btn2" data-options="plain:true,toggle:true,group:'g1'"><%- i18n.t('monitor.all') %></a>
              <input name="date-from" class="easyui-datebox date-from" style="width:110px;" data-options="prompt:'<%- i18n.t('monitor.fromDatePrompt') %>'">
              <input name="date-to" class="easyui-datebox date-to" style="width:110px;" data-options="prompt:'<%- i18n.t('monitor.toDatePrompt') %>'">
              <input name="text-search" class="easyui-searchbox text-search" style="width:300px;" data-options="prompt:'<%- i18n.t('monitor.searchTextPrompt') %>'">
              <span class="text-item" style="float:right;padding-right:10px;"><i class="fa fa-clock-o"></i><span class="panel-widget server-time">...</span></span>
              <span class="text-item" style="float:right;padding-right:10px;"><i class="fa fa-sun-o"></i><span class="panel-widget server-date">...</span></span>
          </div>
      </div>
  </div>
  <div id="main-menu" style="width:150px;">
      <div name="schedule" data-options="iconCls:'fa fa-bell-o'"><%- i18n.t('monitor.schedule') %></div>
      <div class="menu-sep"></div>
      <div name="profile" data-options="iconCls:'fa fa-user'"><%- i18n.t('monitor.profile') %></div>
      <div name="settings" data-options="iconCls:'fa fa-wrench'"><%- i18n.t('monitor.settings') %></div>
      <div name="demo" data-options="iconCls:'fa fa-exchange'"><%- i18n.t('monitor.demo') %></div>
      <div class="menu-sep"></div>
      <div name="logout" data-options="iconCls:'fa fa-sign-out'"><%- i18n.t('monitor.logout') %></div>
  </div>
</script>
<script type="text/template" id="action-item-tpl">
  <a href="javascript:void(0);" class="start-btn" data-id="<%- examId %>" title="<%- i18n.t('monitor.start') %>"><i class="fa fa-play-circle fa-lg"></i></a>
</script>
<script type="text/template" id="student-item-tpl">
  <a href="javascript:void(0);" class="student-btn" data-id="<%- userId %>" title="<%- i18n.t('monitor.studentProfile') %>"><%- lastname || i18n.t('monitor.unknown') %> <%- firstname %> <%- middlename %></a>
</script>
<script type="text/template" id="inspector-item-tpl">
  <a href="javascript:void(0);" class="inspector-btn" data-id="<%- userId %>" title="<%- i18n.t('monitor.inspectorProfile') %>"><%- lastname || i18n.t('monitor.unknown') %> <%- firstname %> <%- middlename %></a>
</script>
<script type="text/template" id="subject-item-tpl">
  <a href="javascript:void(0);" class="exam-btn" data-id="<%- examId %>" title="<%- i18n.t('monitor.examInfo') %>"><%- subject %></a>
</script>
