<div class="easyui-layout" data-options="fit:true">
    <div id="chat-output" data-options="region:'center',border:false" style="overflow-x:hidden;word-wrap: break-word;"></div>
    <div data-options="region:'south',split:true,border:false">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',border:false">
                <div class="easyui-panel" data-options="fit:true" style="padding:3px;border-left:0;border-right:0;height:28px;">
                    <a href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-paper-plane-o'" style="float:right" onclick="chat.doSend();">Отправить</a>
                    <a href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-paperclip'" style="float:right" onclick="chat.doAttach();">Прикрепить</a>
                    <input type="file" id="chat-attach" style="display:none">
                </div>
            </div>
            <div id="chat-input" data-options="region:'center',border:false" contenteditable="true" style="height:100px;overflow-x:hidden;"></div>
        </div>
    </div>
</div>
