<table cellspacing="10" width="100%">
    <tr>
        <td>Экзамен:</td>
        <td><%= subject %></td>
    </tr>
    <tr>
        <td>Направление:</td>
        <td><%= speciality %></td>
    </tr>
    <tr>
        <td>Код:</td>
        <td><%= code %></td>
    </tr>
</table>
