<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>proctor</title>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/locale/easyui-lang-ru.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-bufferview.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
</head>

<body class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" style="margin-bottom:1px;">
        <div class="easyui-panel" style="padding:5px;height:28px;" data-options="fit:true">
            <a href="#" class="easyui-menubutton" data-options="menu:'#menu-windows',iconCls:'fa fa-th-large'">Вид</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#menu-settings',iconCls:'fa fa-cogs'">Настройки</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#menu-help',iconCls:'fa fa-question-circle'">Справка</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-user'" style="float:right" onclick="openUserProfileWindow();">Иванов Иван Иванович</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-tags'" style="float:right" onclick="openExamProfileWindow();">Вступительный экзамен (05.13.06)</a>
        </div>
        <div id="menu-windows">
            <div data-options="iconCls:'fa fa-video-camera'" onclick="openVideoWindow();">Видеокамера</div>
            <div data-options="iconCls:'fa fa-desktop'" onclick="openDesktopWindow();">Рабочий стол</div>
            <div data-options="iconCls:'fa fa-comments-o'" onclick="openChatWindow();">Сообщения</div>
            <div data-options="iconCls:'fa fa-file-text-o'" onclick="openProtocolWindow();">Протокол</div>
            <div data-options="iconCls:'fa fa-check-square-o'" onclick="openNotesWindow();">Заметки</div>
        </div>
        <div id="menu-settings">
            <div>Соединение</div>
            <div>Профиль</div>
            <div>Архив записей</div>
            <div>Список звонков</div>
        </div>
        <div id="menu-help">
            <div>Помощь</div>
            <div>О программе</div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="position:relative;overflow:hidden;">
        <div id="window-video" class="easyui-window" style="width:320px;height:240px" data-options="title:'Видеокамера',inline:true,minimizable:false,iconCls:'fa fa-video-camera',closed:true,href:'video'"></div>
        <div id="window-desktop" class="easyui-window" style="width:640px;height:480px" data-options="title:'Рабочий стол',inline:true,minimizable:false,iconCls:'fa fa-desktop',closed:true,href:'desktop'"></div>
        <div id="window-chat" class="easyui-window" style="width:500px;height:300px" data-options="title:'Сообщения',inline:true,minimizable:false,iconCls:'fa fa-comments-o',closed:true,href:'chat'"></div>
        <div id="window-protocol" class="easyui-window" style="width:400px;height:200px" data-options="title:'Протокол',inline:true,minimizable:false,iconCls:'fa fa-file-text-o',closed:true,href:'potocol'"></div>
        <div id="window-notes" class="easyui-window" style="width:320px;height:240px" data-options="title:'Заметки',inline:true,minimizable:false,iconCls:'fa fa-check-square-o',closed:true,href:'notes'"></div>
        <div id="user-profile" class="easyui-window" style="width:400px;height:600px" data-options="title:'Профиль студента',inline:true,minimizable:false,closed:true,href:'student'"></div>
        <div id="exam-profile" class="easyui-window" style="width:500px;height:400px" data-options="title:'Профиль экзамена',inline:true,minimizable:false,closed:true,href:'exam'"></div>
        <div id="window-monitor" class="easyui-window" style="width:1050px;height:600px" data-options="title:'Список записей',inline:true,minimizable:false,iconCls:'fa fa-list-alt',href:'monitor'"></div>
    </div>
    <div data-options="region:'south',border:false" style="margin-top:1px;">
        <div class="easyui-panel" style="padding:5px;height:28px;" data-options="fit:true">
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-exchange'">Качество связи: <strong><span id="network-widget">85%</span></strong></a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-clock-o'">Текущее время: <strong><span id="time-widget">00:00:00</span></strong></a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-history'">Секундомер: <strong><span id="timer-widget">00:00:00</span></strong></a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-ban'" style="float:right;color:red;margin-left:5px;" onclick="confirmExamStop();">Прервать</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-check'" style="float:right;color:green;" onclick="confirmExamApply();">Подписать</a>                
        </div>
    </div>
</body>

</html>