<script type="text/javascript" src="javascripts/login.js"></script>
<div style="width:300px;margin:100px auto;">
    <div class="easyui-panel" data-options="fit:true" title="Авторизация" style="padding:20px 40px 20px 40px;">
        <form id="login-form" action="/profile/login" method="post">
        <div style="margin-bottom:10px">
            <input class="easyui-textbox" name="username" style="width:100%;height:24px;padding:4px" data-options="prompt:'Логин',iconCls:'fa fa-user fa-lg'">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="password" type="password" style="width:100%;height:24px;padding:4px" data-options="prompt:'Пароль',iconCls:'fa fa-lock fa-lg'">
        </div>
        <div>
            <input class="easyui-linkbutton" style="height:24px;width:100%;" type="submit" value="Войти">
        </div>
        </form>
    </div>
</div>
