<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>proctor</title>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/locale/easyui-lang-ru.js"></script>
</head>
<body>
    <div style="width:500px;margin:100px auto;">
    <div class="easyui-panel" title="Авторизация" style="width:350px;padding:20px 40px 20px 40px;">
        <form id="login-form" action="/auth/login" method="post">
        <div style="margin-bottom:10px">
            <input class="easyui-textbox" name="username" style="width:100%;height:24px;padding:4px" data-options="prompt:'Логин',iconCls:'fa fa-user fa-lg'">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="password" type="password" style="width:100%;height:24px;padding:4px" data-options="prompt:'Пароль',iconCls:'fa fa-lock fa-lg'">
        </div>
        <div>
            <input class="easyui-linkbutton" style="height:24px;width:100%;" type="submit" value="Войти">
        </div>
        </form>
    </div>        
    </div>
</body>
</html>