<div id="vision" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" style="margin-bottom:1px;">
        <div class="easyui-panel" style="padding:5px;height:28px;" data-options="fit:true">
            <a href="javascript:void(0);" class="easyui-menubutton" data-options="menu:'#menu-help',iconCls:'fa fa-question-circle'">Справка</a>
            <a href="javascript:void(0);" class="easyui-linkbutton student-info-btn" data-options="plain:true,iconCls:'fa fa-user'" style="float:right">Иванов Иван Иванович</a>
            <a href="javascript:void(0);" class="easyui-linkbutton exam-info-btn" data-options="plain:true,iconCls:'fa fa-tags'" style="float:right">Вступительный экзамен (05.13.06)</a>
        </div>
        <div id="menu-help">
            <div>Помощь</div>
            <div>О программе</div>
        </div>
    </div>
    <div class="ws-content" data-options="region:'center',border:false">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'west',border:false" style="width:30%">
                <div class="easyui-layout" data-options="fit:true">
                    <div data-options="region:'north',border:false" class="ws-widget" style="height:40%">
                        <div id="panel-video" class="easyui-panel" title="Видеокамера" data-options="fit:true,iconCls:'fa fa-video-camera',maximizable:true">&nbsp;</div>
                    </div>
                    <div data-options="region:'center',border:false" class="ws-widget">
                        <div id="panel-chat" class="easyui-panel" title="Сообщения" data-options="fit:true,iconCls:'fa fa-comments-o',maximizable:true">
                            <!-- Begin: Chat -->
                            <div class="easyui-layout" data-options="fit:true">
                                <div class="chat-output" data-options="region:'center',border:false" style="overflow-x:hidden;word-wrap:break-word;"></div>
                                <div data-options="region:'south',split:true,border:false">
                                    <div class="easyui-layout" data-options="fit:true">
                                        <div data-options="region:'north',border:false">
                                            <div class="easyui-panel" data-options="fit:true" style="padding:3px;border-left:0;border-right:0;height:28px;">
                                                <button class="easyui-linkbutton chat-file" data-options="plain:true,iconCls:'fa fa-file-o'" style="float:left;display:none;">
                                                    <div class="easyui-progressbar chat-progress" data-options="width:150,height:18" style="margin:3px 0 3px 0"></div>
                                                </button>
                                                <button class="easyui-linkbutton chat-send-btn" data-options="plain:true,iconCls:'fa fa-paper-plane-o'" style="float:right">Отправить</button>
                                                <button class="easyui-linkbutton chat-attach-btn" data-options="plain:true,iconCls:'fa fa-paperclip'" style="float:right">Прикрепить</button>
                                                <form method="post" enctype="multipart/form-data" style="display:none;">
                                                    <input type="file" name="chatFile" class="chat-attach" />
                                                </form>
                                            </div>
                                        </div>
                                        <div class="chat-input" data-options="region:'center',border:false" contenteditable="true" style="height:100px;overflow-x:hidden;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Chat -->
                        </div>
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="width:70%">
                <div class="easyui-layout" data-options="fit:true">
                    <div data-options="region:'north',border:false" class="ws-widget" style="height:60%">
                        <div id="panel-desktop" class="easyui-panel" title="Рабочий стол" data-options="fit:true,iconCls:'fa fa-desktop',maximizable:true">&nbsp;</div>
                    </div>
                    <div data-options="region:'center',border:false">
                        <div class="easyui-layout" data-options="fit:true">
                            <div data-options="region:'center',border:false" class="ws-widget">
                                <div id="panel-protocol" class="easyui-panel" title="Протокол" data-options="fit:true,iconCls:'fa fa-file-text-o',maximizable:true">&nbsp;</div>
                            </div>
                            <div data-options="region:'east',border:false,minWidth:300" class="ws-widget" style="width:30%">
                                <div id="panel-notes" class="easyui-panel" title="Заметки" data-options="fit:true,iconCls:'fa fa-check-square-o',maximizable:true">
                                    <!-- Begin: Notes -->
                                    <table class="easyui-datagrid" data-options="toolbar:'#notes-toolbar',singleSelect:true,border:false,fitColumns:true,nowrap:false,fit:true">
                                    </table>
                                    <div id="notes-toolbar">
                                        <button class="easyui-linkbutton note-add-btn" data-options="plain:true,iconCls:'fa fa-plus'">Добавить</button>
                                        <button class="easyui-linkbutton note-edit-btn" data-options="plain:true,iconCls:'fa fa-pencil'">Редактировать</button>
                                        <button class="easyui-linkbutton note-delete-btn" data-options="plain:true,iconCls:'fa fa-trash-o'">Удалить</button>
                                    </div>
                                    <div id="note-dlg" class="easyui-dialog" style="padding:0 5px 5px 5px" data-options="closed:true,modal:true">
                                        <form>
                                            <p>Заметка на <strong class="note-time"></strong>
                                            </p>
                                            <input type="text" name="noteText" class="easyui-textbox note-text" data-options="width:'100%',height:150,multiline:true,prompt:'Введите текст заметки...'">
                                        </form>
                                    </div>
                                    <!-- End: Notes -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'south',border:false" style="margin-top:1px;">
        <div class="easyui-panel" style="padding:5px;height:28px;" data-options="fit:true">
            <span class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-exchange'">Качество связи: <strong><span class="network-widget">85%</span>
            </strong>
            </span>
            <span class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-clock-o'">Текущее время: <strong><span class="time-widget">00:00:00</span>
            </strong>
            </span>
            <span class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-history'">Секундомер: <strong><span class="duration-widget">00:00:00</span>
            </strong>
            </span>
            <a href="javascript:void(0);" class="easyui-linkbutton exam-stop-btn" data-options="iconCls:'fa fa-ban'" style="float:right;color:red;margin-left:5px;">Прервать</a>
            <a href="javascript:void(0);" class="easyui-linkbutton exam-apply-btn" data-options="iconCls:'fa fa-check'" style="float:right;color:green;">Подписать</a>
        </div>
    </div>
</div>
<div id="student-info-dlg" class="easyui-dialog" title="Карточка студента" style="width:600px;height:390px;" data-options="iconCls:'fa fa-user',resizable:true,modal:true,closed:true,href:'/pages/student'"></div>
<div id="exam-info-dlg" class="easyui-dialog" title="Карточка экзамена" style="width:600px;height:400px;" data-options="iconCls:'fa fa-user',resizable:true,modal:true,closed:true,href:'/pages/exam'"></div>