<div id="demo-view">
    <div class="easyui-tabs" data-options="border:false">
        <div class="webcamera" title="Веб-камера" style="padding:10px">
            <div class="panel-webcam" style="height:360px">
                <!-- Begin: Webcam -->
                <video class="video-output" autoplay poster="images/webrtc.png"></video>
                <video class="video-input" autoplay poster="images/webrtc.png"></video>
                <!-- End: Webcam -->
            </div>
            <div style="text-align:right;padding-top:5px">
                <button class="easyui-linkbutton play-btn" data-options="plain:true,iconCls:'fa fa-play'">Запустить</button>
                <button class="easyui-linkbutton stop-btn" data-options="plain:true,iconCls:'fa fa-pause'">Остановить</button>
            </div>
        </div>
        <div class="screen" title="Экран" style="padding:10px">
            <div class="panel-screen" style="height:360px">
                <!-- Begin: Screen -->
                <video class="video-output" autoplay poster="images/webrtc.png"></video>
                <video class="video-input" autoplay poster="images/webrtc.png"></video>
                <!-- End: Screen -->
            </div>
            <div style="text-align:right;padding-top:5px">
                <button class="easyui-linkbutton play-btn" data-options="plain:true,iconCls:'fa fa-play'">Запустить</button>
                <button class="easyui-linkbutton stop-btn" data-options="plain:true,iconCls:'fa fa-pause'">Остановить</button>
            </div>
        </div>
        <div class="network" title="Сеть" style="padding:10px">
            <div class="panel-network" style="height:360px">
                Нет данных, нажмите кнопку "Проверить".
            </div>
            <div style="text-align:right;padding-top:5px">
                <button class="easyui-linkbutton networkcheck-btn" data-options="plain:true,iconCls:'fa fa-flash'">Проверить</button>
            </div>
        </div>
    </div>
</div>
<!-- Templates -->
<script type="text/template" id="network-tpl">
<table cellpadding="5">
    <tr>
        <td>IP-адрес:</td>
        <td><%- ip %></td>
    </tr>
    <tr>
        <td>Местоположение:</td>
        <td><%- country || "-" %>, <%- city || "-" %></td>
    </tr>
    <tr>
        <td>Время отклика:</td>
        <td><%- ping %> мс</td>
    </tr>
    <tr>
        <td>Скорость передачи:</td>
        <td style="color: <% if(tx < TX_MIN) { %>red<% } %><% if(tx >= TX_MIN) { %>green<% } %>"><%- tx %> Мбит/с</td>
    </tr>
    <tr>
        <td>Скорость получения:</td>
        <td style="color: <% if(rx < RX_MIN) { %>red<% } %><% if(rx >= RX_MIN) { %>green<% } %>"><%- rx %> Мбит/с</td>
    </tr>
</table>
</script>