<div class="examinfo-view"></div>
<script type="text/template" id="examinfo-tpl">
<table width="100%" height="100%" cellpadding="5">
    <tr>
        <td><strong>Идентификатор:</strong></td>
        <td>
            <%= examId %>
        </td>
    </tr>
    <tr>
        <td><strong>Экзамен:</strong></td>
        <td>
            <%= subject.title %><br>
            <%= subject.code %> - <%= subject.speciality %>
        </td>
    </tr>
    <tr>
        <td><strong>Начало:</strong></td>
        <td>
            <%= moment(beginDate).format('DD.MM.YYYY HH:mm') %>
            <% if(startDate != null) { %>
                (<%= moment(startDate).format('HH:mm') %>)
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong>Окончание:</strong></td>
        <td>
            <%= moment(endDate).format('DD.MM.YYYY HH:mm') %> 
            <% if(stopDate != null) { %>
                (<%= moment(stopDate).format('HH:mm') %>)
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong>Продолжительность:</strong></td>
        <td>
            <% if(startDate != null) {
                startDate = moment(startDate);
                if (stopDate != null) stopDate = moment(stopDate);
                else stopDate = moment(); %>
                <%= moment(stopDate.diff(startDate)).utc().format('HH:mm:ss') %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong>Студент:</strong></td>
        <td>
            <% if(student) { %>
                <%= student.lastname %> <%= student.firstname %> <%= student.middlename %> (<%= moment(student.birthday).format('DD.MM.YYYY') %>)
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong>Инспектор:</strong></td>
        <td>
            <% if(curator[0]) { %>
                <%= curator[0].lastname %> <%= curator[0].firstname %> <%= curator[0].middlename %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong>Наблюдатели:</strong></td>
        <td>
            <% curator.shift(); %>
            <% _.each(curator, function(item) { %>
                <%= item.lastname %> <%= item.firstname %> <%= item.middlename %><br>
            <% }); %>
        </td>
    </tr>
    <tr>
        <td><strong>Заключение:</strong></td>
        <td>
            <% if(resolution === true) { %> <span style="color: green">Принят</span> <% } %>
            <% if(resolution === false) { %> <span style="color: red">Прерван</span> <% } %>
        </td>
    </tr>
    <tr>
        <td><strong>Комментарий:</strong></td>
        <td><%= comment %></td>
    </tr>
</table>
</script>