<div id="exam-view" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" style="margin-bottom:1px;">
        <div class="easyui-panel" style="padding:5px;height:28px;" data-options="fit:true">
            <span class="text-item"><i class="fa fa-tags"></i><span class="exam-widget">...</span></span>
            <span class="easyui-menubutton" data-options="menu:'#main-menu',iconCls:'fa fa-bars'" style="float:right"></span>
        </div>
    </div>
    <div class="ws-content" data-options="region:'center',border:false">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',border:false" class="ws-widget" style="height:50%">
                <div class="easyui-layout" data-options="fit:true">
                    <div data-options="region:'center',border:false" class="ws-widget">
                        <!-- Begin: Webcam -->
                        <div class="easyui-panel ws-panel panel-webcam" title="Веб-камера" data-options="fit:true,iconCls:'fa fa-video-camera',maximizable:true">
                            <video class="video-output" autoplay poster="images/webrtc.png"></video>
                            <video class="video-input" autoplay poster="images/webrtc.png"></video>
                        </div>
                        <!-- End: Webcam -->
                        <!-- Begin: Screen -->
                        <div class="panel-screen" style="display:none">
                            <video class="video-input" autoplay poster="images/webrtc.png"></video>
                        </div>
                        <!-- End: Screen -->
                    </div>
                    <div data-options="region:'east',border:false" class="ws-widget" style="width:35%">
                        <!-- Begin: Members -->
                        <div class="easyui-panel ws-panel panel-members" title="Участники" data-options="fit:true,iconCls:'fa fa-users',maximizable:true">
                            <div class="easyui-panel members-panel" data-options="fit:true,border:false">
                                <ul class="members-output" style="list-style-type:none;padding:.3em;margin:0"></ul>
                            </div>
                        </div>
                        <!-- End: Members -->
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" class="ws-widget">
                <!-- Begin: Chat -->
                <div class="easyui-panel ws-panel panel-chat" title="Сообщения" data-options="fit:true,iconCls:'fa fa-comments-o',maximizable:true">
                    <div class="easyui-layout" data-options="fit:true">
                        <div class="chat-panel" data-options="region:'center',border:false" style="overflow-x:hidden;word-wrap:break-word;">
                            <ul class="chat-output" style="list-style-type:none;padding:.3em;margin:0"></ul>
                        </div>
                        <div data-options="region:'south',border:false,minHeight:60" style="height:35%;">
                            <div class="easyui-layout" data-options="fit:true">
                                <div data-options="region:'north',border:false">
                                    <div class="easyui-panel" data-options="fit:true" style="padding:3px;border-left:0;border-right:0;height:28px;">
                                        <button class="easyui-linkbutton chat-file-btn" data-options="plain:true,iconCls:'fa fa-download'" style="float:left;display:none;">
                                            <div class="easyui-progressbar chat-progress" data-options="width:150,height:18" style="margin:3px 0 3px 0"></div>
                                        </button>
                                        <button class="easyui-linkbutton chat-send-btn" data-options="plain:true,iconCls:'fa fa-paper-plane-o'" style="float:right">Отправить</button>
                                        <button class="easyui-linkbutton chat-attach-btn" data-options="plain:true,iconCls:'fa fa-paperclip'" style="float:right">Прикрепить</button>
                                        <form method="post" enctype="multipart/form-data" style="display:none;">
                                            <input type="file" name="chatFile" class="chat-attach-input" />
                                        </form>
                                    </div>
                                </div>
                                <div class="chat-input" data-options="region:'center',border:false" placeholder="Текст сообщения..." contenteditable="true" style="height:100%;overflow-x:hidden;padding:.3em"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Chat -->
            </div>
        </div>
    </div>
    <div data-options="region:'south',border:false" style="margin-top:1px;">
        <div class="easyui-panel" style="padding:5px;height:28px;" data-options="fit:true">
            <span class="easyui-tooltip text-item" title="Статус соединения"><i class="fa fa-exchange"></i><span class="panel-widget network-widget" style="color:green">В сети</span></span>
            <span class="easyui-tooltip text-item" title="Текущее время"><i class="fa fa-clock-o"></i><span class="panel-widget time-widget">00:00:00</span></span>
            <span class="easyui-tooltip text-item" title="Продолжительность экзамена"><i class="fa fa-play"></i><span class="panel-widget duration-widget">00:00:00</span></span>
        </div>
    </div>
</div>
<div id="main-menu" style="width:150px;">
    <div name="info" data-options="iconCls:'fa fa-tags'">Об экзамене</div>
    <div class="menu-sep"></div>
    <div name="passport" data-options="iconCls:'fa fa-user'">Профиль</div>
    <div name="settings" data-options="iconCls:'fa fa-wrench'">Настройки</div>
    <div class="menu-sep"></div>
    <div name="disconnect" data-options="iconCls:'fa fa-sign-out'">Отключиться</div>
</div>
<div id="exam-info-dlg" class="easyui-dialog" title="Карточка экзамена" style="width:500px;height:350px;" data-options="resizable:true,closed:true"></div>
<!-- Templates -->
<script type="text/template" id="chat-item-tpl">
<div class="chat-view">
    <% var color = app.profile.isMe(author._id) ? 'red' : 'blue'; %>
    <span style="font-weight: bold;padding-right:.5em;color:<%- color %>"><%- moment(time).format('HH:mm') %> <%- author.lastname %> <%- author.firstname ? author.firstname.charAt(0) + '.' : '' %><%- author.middlename ? author.middlename.charAt(0) + '.' : '' %>:</span><span><%= text %>
        <% if(attach.length > 0) { %>
            <% _.each(attach, function(element, index, list){ %>
                <i class="fa fa-paperclip"></i>&nbsp;<a class="attach-link" href="/storage/<%- element.fileId %>"><%- element.filename %></a>
            <% }); %>
        <% } %>
    </span>
</div>
</script>
<script type="text/template" id="members-item-tpl">
<div class="members-view">
    <div style="font-weight:bold"><i class="fa fa-caret-right"></i> <%- user.lastname %> <%- user.firstname %> <%- user.middlename %> (<%- user.roleName %>)</div>
    <div style="color:gray"><%- country %>, <%- city %> [IP: <%- ip %>]</div>
</div>
</script>