<div id="login-view" style="width:300px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);">
    <div class="easyui-panel" data-options="fit:true" title="Вход в систему" style="padding:20px 40px 20px 40px;">
        <form>
            <div style="margin-bottom:10px">
                <input class="easyui-textbox username" type="text" style="width:100%;height:24px;padding:4px" data-options="prompt:'Логин',iconCls:'fa fa-user fa-lg'">
            </div>
            <div style="margin-bottom:15px">
                <input class="easyui-textbox password" type="password" style="width:100%;height:24px;padding:4px" data-options="prompt:'Пароль',iconCls:'fa fa-lock fa-lg'">
            </div>
            <div style="text-align: right;margin-bottom:25px">
                <input class="easyui-linkbutton" style="height:24px;width:100%;" type="submit" value="Войти">
            </div>
            <hr class="enter">
            <div style="margin-top:20px;text-align:center">
                <a class="easyui-linkbutton" href="/profile/openedu" style="height:42px;width:100px;" data-options="plain:true"><span class="openedu-logo" style="padding-top: 8px"></span></a>
                <a class="easyui-linkbutton" href="/profile/ifmosso" style="height:42px;width:100px;" data-options="plain:true"><span class="itmo-logo" style="padding-top: 6px"></span></a>
            </div>
        </form>
    </div>
</div>