<div class="passport-view" style="margin:5px;"></div>
<script type="text/template" id="passport-tpl">
<table cellpadding="5" style="width:100%;">
    <tr>
        <td><strong>ФИО:</strong></td>
        <td><%- user.lastname %> <%- user.firstname %> <%- user.middlename %></td>
    </tr>
    <tr>
        <td><strong>Пол:</strong></td>
        <td><%- user.gender %></td>
    </tr>
    <tr>
        <td><strong>Дата рождения:</strong></td>
        <td><%- user.birthday %></td>
    </tr>
    <tr>
        <td><strong>Электронный адрес:</strong></td>
        <td style="word-break:break-all;"><%- user.email %></td>
    </tr>
    <tr>
        <td><strong>Гражданство:</strong></td>
        <td><%- user.citizenship %></td>
    </tr>
    <tr>
        <td><strong>Тип документа:</strong></td>
        <td><%- user.documentType %></td>
    </tr>
    <tr>
        <td><strong>Номер документа:</strong></td>
        <td><%- user.documentNumber %></td>
    </tr>
    <tr>
        <td><strong>Дата выдачи документа:</strong></td>
        <td><%- user.documentIssueDate %></td>
    </tr>
    <tr>
        <td><strong>Адрес:</strong></td>
        <td><%- user.address %></td>
    </tr>
    <tr>
        <td><strong>Дополнительно:</strong></td>
        <td><%- user.description %></td>
    </tr>
    <tr>
        <td style="vertical-align:top;"><strong>Приложенные файлы:</strong></td>
        <td>
            <% if(user.attach.length > 0) { %>
                <% _.each(user.attach, function(element, index, list){ 
                    var filename = element.filename;
                    var extension = filename.indexOf('.') > -1 ? filename.split('.').pop() : '';
                    if (filename.length > 30) {
                        filename = filename.substring(0, 30) + '...' + extension;
                    }
                    %>
                    <i class="fa fa-paperclip"></i>&nbsp;<a class="attach-link" href="/storage/<%- element.fileId %>" title="<%- element.description %>"><%- filename %></a><br/>
                <% }); %>
            <% } %>
        </td>
    </tr>
</table>
</script>