<div class="passport-view"></div>
<script type="text/template" id="passport-tpl">
<div style="padding:15px">
    <% var photo = attach.length > 0 ? '/storage/' + attach[0].fileId : '/images/avatar.png'; %>
    <div style="width:240px;height:320px;float:left;margin-right:15px;">
        <img src="<%- photo %>" alt="Фотография" style="border:1px solid lightgray;height:auto;width:auto;max-width:100%;max-height:100%;">
    </div>
    <div style="float:clear">
    <table cellpadding="5">
    <tr>
        <td>ФИО:</td>
        <td><%- lastname %> <%- firstname %> <%- middlename %></td>
    </tr>
    <tr>
        <td>Пол:</td>
        <td><%- gender %></td>
    </tr>
    <tr>
        <td>Дата рождения:</td>
        <td><%- birthday %></td>
    </tr>
    <tr>
        <td>Электронный адрес:</td>
        <td style="word-break:break-all;"><%- email %></td>
    </tr>
    <tr>
        <td>Тип документа:</td>
        <td><% if (passport.doctype) { %><%- passport.doctype %><% } else { %> - <% } %></td>
    </tr>
    <tr>
        <td>Номер документа:</td>
        <td><% if (passport.number) { %><%- passport.number %><% } else { %> - <% } %></td>
    </tr>
    <tr>
        <td>Дата выдачи документа:</td>
        <td><% if (passport.issueDate) { %><%- passport.issueDate %><% } else { %> - <% } %></td>
    </tr>
    <tr>
        <td>Дополнительная информация:</td>
        <td><% if (passport.description) { %><%- passport.description %><% } else { %> - <% } %></td>
    </tr>
    <tr>
        <td>Приложенные файлы:</td>
        <td>
            <% if(attach.length > 0) { %>
                <% _.each(attach, function(element, index, list){ %>
                    <i class="fa fa-paperclip"></i>&nbsp;<a href="/storage/<%- element.fileId %>" title="<%- element.description %>"><%- element.filename %></a>
                <% }); %>
            <% } else { %>
                -
            <% } %>
        </td>
    </tr>
    </table>
    </div>
</div>
</script>