<div class="profile-view"></div>
<script type="text/template" id="profile-tpl">
<div style="padding:15px">
    <% var photoSrc = photo.length > 0 ? '/storage/'+photo[0].fileId : '/images/avatar.png'; %>
    <div style="width:120px;height:160px;float:left;margin-right:15px;">
        <img src="<%- photoSrc %>" alt="Фотография" style="border:1px solid lightgray;height:auto;width:auto;max-width:100%;max-height:100%;">
    </div>
    <div style="float:clear">
        <table cellpadding="5">
        <tr>
            <td>ФИО:</td>
            <td><%- lastname %> <%- firstname %> <%- middlename %></td>
        </tr>
        <tr>
            <td>Пол:</td>
            <td><%- gender %></td>
        </tr>
        <tr>
            <td>Дата рождения:</td>
            <td><%- moment(birthday).format("DD.MM.YYYY") %></td>
        </tr>
        <tr>
            <td>Электронный адрес:</td>
            <td><%- email %></td>
        </tr>
        <tr>
            <td>Роль в системе:</td>
            <td><%- roleName %></td>
        </tr>
        </table>
    </div>
</div>