* {
    font-size: 12px;
}

body {
    font-family: verdana, helvetica, arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#content {
    height: inherit;
    width: inherit;
    position: absolute;
}

a {
    text-decoration: none
}

.fa {
    line-height: 1em;
    padding-top: 0.2em;
    text-decoration: none;
}

.panel-tool a {
    text-align: center;
    text-decoration: none;
    color: #333;
}

.text-item {
    padding: 0 5px;
    line-height: 26px;
    color: #444;
}

.text-item>i {
    padding-right: 10px;
}

.panel-widget {
    font-weight: bold;
}

.datagrid-row-selected {
    background: #ddddff;
    color: inherit;
}
