@font-face {
    font-family: "Verdana";
    src: url("fonts/Verdana.ttf") format("truetype");
}
@font-face {
    font-family: "Verdana";
    src: url("fonts/Verdana_Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Verdana";
    src: url("fonts/Verdana_Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Verdana";
    src: url("fonts/Verdana_Bold_Italic.ttf");
    font-weight: bold;
    font-style: italic;
}

* {
    font-size: 12px;
    font-family: 'Verdana', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#content {
    height: inherit;
    width: inherit;
    position: absolute;
}

a {
    text-decoration: none
}

.fa {
    line-height: 1em;
    padding-top: 0.2em;
    text-decoration: none;
}

.panel-tool a {
    text-align: center;
    text-decoration: none;
    color: #333;
}

.text-item {
    padding: 0 0.5em;
    line-height: 26px;
    color: #444;
}

.text-item>i {
    padding-right: 0.5em;
}

.panel-widget {
    font-weight: bold;
}

.datagrid-row-selected {
    background: #ddddff;
    color: inherit;
}
