* {
    font-size: 12px;
}
body {
    font-family: verdana, helvetica, arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.fa {
    line-height: 1em;
    padding-top: 0.2em;
    text-decoration: none;
}
.panel-tool a {
    text-align: center;
    text-decoration: none;
    color: #333;
}
.panel-webcam,
.panel-screen {
    overflow: hidden;
    text-align: center;
    position: relative;
    /*background-color:black;*/
}
.video-output {
    height: 100%;
    width: auto;
    max-width: 100%;
}
.video-input {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.text-item {
    padding: 0 5px;
    line-height: 26px;
    color: #444;
}
.text-item>i {
    padding-right: 10px;
}
.panel-widget {
    font-weight: bold;
}
.chat-input[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}
.chat-input[placeholder]:empty:focus:before {
    content: "";
}
.app-dist {
    font-family: monospace;
    list-style-type: none;
    padding-left: 0;
}
