<script type="text/template" id="main-tpl">
<div class="dialog-container" style="padding: 5px"><%- i18n.t('loading') %></div>
</script>
<script type="text/template" id="dialog-tpl">
<style type="text/css">
.exam-table td {
    border-bottom: 1px solid #ddd;
}
</style>
<table class="exam-table" width="100%" cellpadding="5">
    <tr>
        <td style="width:35%"><strong><%- i18n.t('exam.subject') %>:</strong></td>
        <td>
            <%- exam.subject %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.code') %>:</strong></td>
        <td>
            <%- exam.examCode || i18n.t('exam.no') %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.dates') %>:</strong></td>
        <td>
            <%- i18n.t('exam.datesBetween', {from: moment(exam.leftDate).format('DD.MM.YYYY'), to: moment(exam.rightDate).format('DD.MM.YYYY')}) %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.duration') %>:</strong></td>
        <td>
            <% if(exam.duration) { %>
                <%- i18n.t('exam.durationMinutes', {num: exam.duration}) %>
            <% } else { %>
                <%- i18n.t('exam.unknown') %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.begin') %>:</strong></td>
        <td>
            <% if(exam.beginDate) { %>
                <%= moment(exam.beginDate).format('DD.MM.YYYY HH:mm') %>
                <% if(exam.startDate) { %>
                    (<%- moment(exam.startDate).format('HH:mm') %>)
                <% } %>
            <% } else { %>
                <%- i18n.t('exam.noplan') %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.end') %>:</strong></td>
        <td>
            <% if(exam.endDate) { %>
                <%= moment(exam.endDate).format('DD.MM.YYYY HH:mm') %>
                <% if(exam.stopDate != null) { %>
                    (<%- moment(exam.stopDate).format('HH:mm') %>)
                <% } %>
            <% } else { %>
                <%- i18n.t('exam.noplan') %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.student') %>:</strong></td>
        <td>
            <% if(exam.student) { %>
                <%- exam.student.lastname %> <%- exam.student.firstname %> <%- exam.student.middlename %>
                <% if(exam.verified) { %>
                    <% if(exam.verified.submit === true) %> <i class="fa fa-check" style="color:green"></i>
                    <% if(exam.verified.submit === false) %> <i class="fa fa-times" style="color:red"></i>
                <% } %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.inspector') %>:</strong></td>
        <td>
            <% if(exam.inspector) { %>
                <% if(user.role > 1) %><%- exam.inspector.lastname %> <%- exam.inspector.firstname %> <%- exam.inspector.middlename %>
                <% else %><%- i18n.t('exam.assigned') %>
            <% } else { %>
                <%- i18n.t('exam.unset') %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.resolution') %>:</strong></td>
        <td>
            <% if(exam.resolution === true) { %> <span style="color: green"><%- i18n.t('exam.status.4') %></span> <% } %>
            <% if(exam.resolution === false) { %> <span style="color: red"><%- i18n.t('exam.status.5') %></span> <% } %>
        </td>
    </tr>
    <tr>
        <td><strong><%- i18n.t('exam.comment') %>:</strong></td>
        <td><%- exam.comment %></td>
    </tr>
</table>
</script>
